# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Notebooks
.ipynb_checkpoints/

# Environments
.venv/
venv/
env/

# App/IDE caches
.pytest_cache/
.mypy_cache/
.cache/
*.log
.DS_Store

# Streamlit cache 
.streamlit/

# Build/outputs
artifacts/
models/
outputs/
reports/*.pdf

# Big binaries 
*.joblib
*.npz
*.npy
*.pkl
*.h5
